<!-- Home -->
    <div class="intro-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="intro-message vcenter">
                <h1>What's Up Tonight?</h1>
                <!--<hr class="intro-divider"> -->
                <div class="col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-6 subt-container">
                    <h3>Which bars are crowded tonight?</h3>
                </div>
              </div>
              <!-- intro-message -->
              
            </div>
            <!-- col-lg-12 -->
          </div>
          <!-- row -->
          <row>
              <div class="input-group col-md-offset-2 col-md-4 col-lg-offset-1 col-lg-4 container-search">
                  <input type="text" class="form-control text-search transparent-input" placeholder="WHERE YOU AT?" ng-model="locationText"/> <span class="input-group-btn"> <button class="btn btn-default transparent-input button-search" type="button" ng-click="searchLocations()">Go!</button> </span>
              </div>
          </row>
        </div>
        <!-- container -->
    </div>
    <!-- intro-header -->
    <!-- /.home -->