body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: cursive;
    font-weight: 700;
}

/*top background*/
.intro-header {
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    background: url('../images/The-Simpsons-moes_2.png') no-repeat center center fixed;
    background-size: cover;
    height: 40%;
}

.vcenter {
    position: relative;
    padding-top: 20px;
}

/*Header*/
.intro-message > h1 {
    margin-top: -60px;
    text-shadow: 2px 1px 2px #000;
    font-size: 5em;
    color: #FED815;
}

/*small header*/
h3 {
  color: #F08310;
}

/*line*/
hr.intro-divider {
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  width: 100%;
}

/* Body content */
.body-content {
    text-align: center;
    height: 58%;
}

.text-search {
    text-align: left;
    border-radius: 10px;
    border: 2px solid #C67716 !important;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #3A3A3A
}

.button-search {
    border: 2px solid #C67716 !important;
    font-size: 20px;
    color: #3A3A3A
}

.container-search {
    position: relative;
    margin-top: 0px;
}

.subt-container{
    position: relative;
    margin-top: -10px;
}

.transparent-input{
       background-color:rgba(0,0,0,0) !important;
}

/*footer*/
footer {
    padding: 1px 0;
    background: rgba(200, 192, 192, 0.9);
    height: 30px;
}

img.transparent {
    opacity: 0.4;
}
img.transparent:hover {
    opacity: 1;
}

.form-control::-webkit-input-placeholder { color: #3A3A3A; position: relative;}
.form-control:-moz-placeholder { color: #3A3A3A; position: relative;}
.form-control::-moz-placeholder { color: #3A3A3A; position: relative;}
.form-control:-ms-input-placeholder { color: #3A3A3A; position: relative;}